<div class="grid-reset has-gap-y-0 span-full">
  <section class="span-full subgrid has-background-accent has-text-neutral-0">
    <div class="span-content flow text has-py-xl has-items-center has-text-center">
      <style>
        .button--white {
          --button-background: var(--color-neutral-0);
          --button-color: var(--color-neutral-1000);
          --button-hover-background: var(--color-neutral-1000);
        }
      </style>
      <h2>Get started</h2>
      <p>Read the documentation or browse the source on GitHub.</p>
      <div class="flow-row has-gap-s has-justify-center has-flex-wrap">
        <a target="_blank" rel="nofollow" href="https://moinfra.me/docs/moinframe-cleacss"
          class="button button--white button--outline">Documentation</a>
        <a target="_blank" rel="nofollow" href="https://github.com/moinframe/cleacss"
          class="button button--white button--outline">GitHub</a>
      </div>
    </div>
  </section>

  <footer class="span-full subgrid has-py-l has-text-center has-background-accent has-text-white">
    <div class="span-content flow-row has-gap-s has-size-8 has-flex-wrap">
      <span class="has-mr-a">© 2026 Justus Kraft</span>
      <span class="flow-row has-w-auto has-flex-wrap">
        <a href="/">Start</a>
        <a href="/colors">Color palette</a>
        <a href="/figma">Figma export</a>
        <a href="/overview">Overview</a>
        <a target="_blank" rel="nofollow" href="https://moinfra.me/privacy-policy">Privacy</a>
        <a target="_blank" rel="nofollow" href="https://moinfra.me/imprint">Imprint</a>
      </span>
    </div>
  </footer>
</div>